.profile-info__about {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 330px) {
    .profile-info__about{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}