.popup__form{
    max-width: calc(100% - (34px * 2));
    margin: 48px auto 0;
    gap: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 545px) {
    .popup__form {
        margin-top: 75px;
        max-width: calc(100% - (22px * 2));
        gap: 29px;
    }
}