.header{
    margin: 45px auto 0;
    padding-bottom: 41px;
    max-width: 880px;
    opacity: 0.7;
    border: 0;
    border-bottom: 2px solid #545454;
}

@media screen and (max-width: 1000px) {
    .header{
        margin-top: 0;
        padding-bottom: 27px;
    }
}