.popup{
    width:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display:none;
    transition: all .5s linear;
}