.profile__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 358px) {
    .profile__item{
        justify-content: center;
    }
}
